@charset "UTF-8";

/* media para telefone */ 

/* Paleta de cores 

cor 1 #262626

cor 2 #A6A376

cor 3 #6C8C26

cor 4 #8C3253

cor 5 #400118 */ 


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: black;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    


html, body {
    background-image: linear-gradient( to top, #262626, black);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    border-radius: 10px;
    background-color: #262626;
    height: 500px;
    width: 300px;

    box-shadow: 0px 0px 10px #00000070;

}

div#img{
    display: block;
    background: #262626 url(../img/imgpp.jpg) no-repeat;
    height: 200px;
    background-size: cover;

}

div#form{
    padding: 10px;
    display: block;
}

div#form > h1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
    color: white;
}

span , label{
    color: white;
}

a{
    color: white;
}
